/* -------------------------------------------------------------- 
  -=SCROLLING TEXT PANEL
-------------------------------------------------------------- */  
.scroll_panel  {
    overflow:hidden;
    position:relative; 
    width:100%; 
    max-width:470px;
    margin: 0;
}

.scroll_panel i {
    font-family: "FontAwesome"; 
}
.scroll_panel img {
    width: 100%;
}
.scroll_down, .scroll_up {
    position: absolute;
    right:0;
    z-index:999;
    font-size: 16px;
}
.scroll_down {
    bottom: 0;
}
.scroll_up {
    top: 0;    
}
.scroll_up:hover, .scroll_down:hover {
    cursor: pointer;
}
.text_block {
    text-align:center; 
    padding: 0 25px 0 0;
    position:absolute; 
    top: 0;
    left:0; 
    right:0;
    margin: auto;
    visibility: hidden;
    text-align: left;
  }
  .v_align_block {
    display: table;
    height: 100%;
  }
  .v_align_child_middle, .v_align_child_bottom, .v_align_child_top {
    display: table-cell;
  }
  .v_align_child_top {
    vertical-align: top;
  }
  .v_align_child_middle {
    vertical-align: middle;
  }

  .v_align_child_bottom {
    vertical-align: bottom;
  }

  .text_block{
    width: 100%;
    text-transform: none;
    font-size: 14px;
  }
  .text_block a {
      text-decoration: underline;
  }
  
  
  @media screen and (max-width: 700px ){
       .scroll_panel, .scroll_panel_up {margin: 0 auto;}
  }
  